/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 23px;
}

p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}
.img-z{
	display: block;
    max-width: 100%;
}

#first {
    padding-top: 100px;
    height: 100%;
    background: linear-gradient(to top, rgba(38,38,38,0.5), rgba(38,38,38,0.5)), url(http://pixel.nymag.com/imgs/daily/grub/2016/10/11/magazine/13-ichiran-3.w710.h473.2x.jpg);
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.header {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: flex-start;
}

.content {
	flex: 0 0 70%;
	text-align: left;
	overflow: auto;
	padding-top: 25%;
}

.content2 {
	flex: 0 0 30%;
	vertical-align: middle;
	padding-top: 45%;
}

/*nav*/
.main-menu {
	background: #b81c22!important;
}

.main-menu a {
	/*line-height: 5!important;*/
}
.brand {
	flex: 0 0 80%;
}

.brand a {
	line-height: 1;
}

.main-menu ul {
	align-items: center!important;
}

.main-menu a {
	color: white;
}
