/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 100%;
}

p { margin-top: 0; }

article {
	flex: 0 0 70%;
}

aside {
	flex: 0 0 30%;
}

article, aside {
	padding: 1em;
	text-align: left;
}

article img, aside img {
	width: 100%;
}

.article-container {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: flex-start;
}

.article-content {
	flex: 0 0 60%;
}

.box {
  flex: 0 0 20%;
  width: 200px;
  margin: 1em;
}

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}
.img-z{
	display: block;
    max-width: 100%;
}

#first {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(38,38,38,0.5), rgba(38,38,38,0.5)), url(http://pixel.nymag.com/imgs/daily/grub/2016/10/11/magazine/13-ichiran-3.w710.h473.2x.jpg);
}

.ghost-button{
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}
/*section3*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.S3-P{
	 float: center;
	 width: 200px;
 	 height:200px;
     border-radius: 5px 5px 0 0;
}

#mainbox{
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
	flex-wrap: wrap;
}
/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.header {
	font-size: 1.4rem;
}

.content {
	text-align: left;
	overflow: auto;
	padding-top: 35%;
}

.button {
	 flex: 0 0 30%; 
	 vertical-align: middle; 
	 padding-top: 45%; 
}

.content-2{
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: space-between;
	color: black;
}	



/*nav*/
.main-menu {
	background: #b81c22!important;
}

.main-menu a {
	/*line-height: 5!important;*/
}
.brand {
	flex: 0 0 80%;
}

.brand a {
	line-height: 1;
}

.main-menu ul {
	align-items: center!important;
}

.main-menu a {
	color: white;
}
